In [1]:
import numpy as np
import pandas as pd

In [2]:
abr = {
    'family':'fam.',
    'species':'spe.',
    'order':'ord.',
    'genus':'gen.',
    'superfamily':'s. fam.',
    'superorder':'s. ord.'
}

In [3]:
df = pd.read_csv('main_data.csv')

In [4]:
df.head()

,rank,common_name,scientific_name_hyphens,taxonomy_id,keyword1,keyword2,Unnamed: 6
0,family,Sharks,Selachii,119203,shark,NaN,NaN
1,family,Elephants,Elephantidae,9780,elephant,NaN,NaN
2,family,Fish (Cartilaginous),Chondrichthyes,7777,fish,NaN,NaN
3,family,Parrots,Psittacidae,9224,parrot,NaN,NaN
4,family,Wolf Spiders,Lycosidae,74973,wolf,spider,NaN

In [5]:
df['rank'] = df['rank'].map(abr)

In [6]:
new_names = []
for row in df.itertuples():
    new = f"{row.common_name} ({row.rank})"
    new_names.append(new)

In [7]:
new_df = pd.DataFrame(df.scientific_name_hyphens)
new_df['name'] = new_names

In [8]:
new_df.to_csv('labels.csv', header=False, index=False)